.profile-card-wrapper {
  width: 400px;
  margin: auto;
  padding: 0px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-card-wrapper .ui.card .content > .button.floated {
  margin-right: 0; 
  margin-left: 0;
  margin-bottom: 0;
}